<!DOCTYPE html5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
<title> Bio </title>
</head>


<body>
  <h2>
    <hr>
    Bertilla V. Fabris (Homo Sapiens Sapiens)
     is a curious soul
     in a vegan body <br>
     utterly fascinated by Nature and Tech.
    <hr>
    At the present moment, Bertilla resides in the Öresund Area.
</h2>

<h4>
    Their interests include, but are not limited to:
<ul>
  <li>  Cybernetics</li>
  <li>  Sci-fi (solarpunk) writing </li>
  <li>  cat psychology</li>
  <li>  human psychology </li>
  <li>  Veganism and other forms of Activism</li>
  <li>  Onironavigation</li>
  <li>  Martial Arts and Energy work</li>
  <li>  Python </li>
</ul>
</h4>
    <!--
    Bertilla is the Director General
     of Quantum Thinkers, aka <a href="http://mindlab.space/" MindLab>MindLab </a>
     an association devoted to
     facilitating human-machine interactions,
     often seen at tech festivals and conferences
     with futuristic interactive exhibitions.
  -->
  <h2>
    <hr>
    <div>

    Bertilla is happy when
    humans get together to design hopeful Futures!
    Feel free to <a href="mailto:wasabiwasabi@protonmail.com">invite </a> them for a talk.
    <br>
    Have you heard of solarpunks?
    <br>
    Please prefer the use of gender neutral pronouns when referring to Bertilla.
  </div>

 </h2>

<a href="index.html"> Back </a>

</body>

</html>
