<!DOCTYPE html5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
<title> Bio </title>


</head>


<body>
  <h2>
    Bertilla V. Fabris belongs to Generation Z of the subspecies Homo Sapiens Sapiens.
    <div> They are a curious soul
    <div> in a vegan body with a protean mind
    <div> utterly fascinated by Nature and Tech.
<div>
    At the present moment, Bertilla resides in the Öresund Area,
    <div> between the towns of
   Malmö and Copenhagen, <div> Northern Europe.
<div>

    Their interests include,
<div>
  but are not limited to:
<ul>
  <li>  Cybernetics</li>
  <li>  Sci-fi writing </li>
  <li>  cat psychology</li>
  <li>  human psychology </li>
  <li>  Visual Sotrytelling & other forms of Activism</li>
  <li>  Onironavigation</li>
  <li>  Martial Arts and Energy work</li>
  <li>  Blockchain development </li>
  <li>  Python3 </li>
</ul>
<div>

<div>
</h2>
  <div>
  <h2>
    <div>

    Bertilla is the Director General
    <div> of Quantum Thinkers, aka <a href="http://mindlab.space/" MindLab>MindLab </a>
    <div> an association devoted to
    <div> facilitating human-machine interactions,
    <div> often seen at tech festivals and conferences
    <div> with futuristic interactive exhibitions.
    <div>
    Bertilla is happy when
    <div>humans get together to design Futures
    <div>
    Feel free to <a href="mailto:wasabiwasabi@protonmail.com">invite </a> them for a talk.
    <div>


    Have you heard of solarpunks?
    <div>
      <div>
    Please prefer the use
    <div> of gender neutral pronouns when referring to Bertilla.
    <div>

 </h2>

<a href="index.html"> Back </a>

</body>

</html>
