<!DOCTYPE html5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
<title> Bio </title>
</head>


<body>
  <h2>
    <hr>
    Bertilla V. Fabris belongs to Generation Z of the subspecies Homo Sapiens Sapiens.
     They are a curious soul
     in a vegan body with a protean mind
     utterly fascinated by Nature and Tech.
    <hr>
    At the present moment, Bertilla resides in the Öresund Area,
    <br/> between the towns of
   Malmö and Copenhagen.

    Their interests include,
  but are not limited to:
<ul>
  <li>  Cybernetics</li>
  <li>  Sci-fi (solarpunk) writing </li>
  <li>  cat psychology</li>
  <li>  human psychology </li>
  <li>  Veganism and other forms of Activism</li>
  <li>  Onironavigation</li>
  <li>  Martial Arts and Energy work</li>
  <li>  Python </li>
</ul>

</h2>
    <!--
    Bertilla is the Director General
     of Quantum Thinkers, aka <a href="http://mindlab.space/" MindLab>MindLab </a>
     an association devoted to
     facilitating human-machine interactions,
     often seen at tech festivals and conferences
     with futuristic interactive exhibitions.

  -->
  <h2>
    <hr>
    Bertilla is happy when
    humans get together to design Futures

    Feel free to <a href="mailto:wasabiwasabi@protonmail.com">invite </a> them for a talk.



    Have you heard of solarpunks?


    Please prefer the use
     of gender neutral pronouns when referring to Bertilla.


 </h2>

<a href="index.html"> Back </a>

</body>

</html>
