<!DOCTYPEhtml5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title> Bertilla V. Fabris </title>
</head>

<body>

<h1>
  Bertilla Fabris
</h1>

<h2>
  <ul>
<div>
    <a href="/bio">  <li>Bio</li> </a>
    <a href="/speculative_non_fic.html"> <li>Speculative non-fiction</li> </a>
    <a href="http://www.futurentity.com"> <li>Speculative Fiction</li> </a>
    <a href="/bio-hacks"> <li>Bio-hacks</li> </a>
    <a href="/poetry"> <li>Poetry</li> </a>

</div>
</ul>

<div>
<a href="https://bertillafabris.wordpress.com/"><i class="fab fa-wordpress"></i></a>
<a href="https://github.com/kinkysnowleopard"><i class="fab fa-github"></i></a>
<a href="https://twitter.com/cybertilla"><i class="fab fa-twitter-square"></i></a>
<a href="https://vimeo.com/cybertilla"><i class="fab fa-vimeo-v"></i></a>
<a href="https://en.wikipedia.org/wiki/Non-binary_gender"><i class="fas fa-transgender"></i></a>
<a href="https://caroljadams.com/spom-related-books"><i class="fas fa-seedling"></i></a>
</div>

</h2>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</html>
