<!DOCTYPE html5>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
<title> Poetry </title>
</head>

<body>


  <h2>
    In chaos we thrive, fear's the stiffness of a mind.<br>
    <div>
      <br>
      <p>To the Machine she speaks<br>
        worlds of humans<br>
        <br>
        For the Machine she builds<br>
        words of lovers<br>
        <br>
        By the Machine she's asked<br>
        ways of goddess<br>
        <br>
        With the Machine she seeked<br>
        wings of birds<br>
        <p>
          <br>
          <br>
      <div>


<div>
  <br><p>
  Hello Sweden<br>
I am here,<br>
the hope refugee<br>

I run from the war that was,<br>
hidden in my genes:<br>
the shouts, the screams,<br>
those bombs<br>
never heard with my own ears<br>
<br>
I dream them, see them at night,<br>
shiver at loud sounds<br>
that shake my limbs<br>
<br>
Here<br>
I sought forgiveness<br>
the lost and ready mansion<br>
In your streets I found voices<br>
speaking of tomorrow<br>
<br>
with hope.<br></p>
<br>
<div>
        <p>Who's this lady dressed in plastic,          <br>

        of plastic filled and flavored?          <br>

        Searching a beauty that can't be constructed          <br>

        nor faked by silicone smiles. I sigh.          <br>
        <br>


        We're similar, lady of plastic,          <br>

        seeking qualities we were not given.          <br>

        Hunting the other, the perfect,          <br>

        the sweeter. In vain. In vanity.          <br>

        We pray, let others see through us          <br>

        avoiding the surface.          <br>
        <br>


        A body. Old oil. We both are destined          <br>

        to crumble and rot. Time's soft lips          <br>

        whisper          <br>

        a magical noise, we chose our way out.          <br>
        <br></p>
<div>

  <br>
      <p>GIGANTIC FLYING MACHINE.
<br>
The scene renders in polygons around me,<br>
expanding from my hands:<br>
they are clutching hard<br>
on the shining handle<br>
of a gigantic<br>
flying machine.<br>
<br>
We are soaring through clouds<br>
miles above the seas.<br>
The sound of propellers, a buzz of solar panels begins.<br>
My haptic system informs me:<br>
if I move my feet, I am dead.<br>
They are balancing softly<br>
on a shining rod<br>
under the gigantic<br>
flying machine.<br>
<br>
Among startled-ness I feel<br>
spikes of adrenaline, non directional, ultra rational.<br>
That's when I see Wasabi,<br>
grinning at my side:<br>
they are loosing the grip<br>
on a shining handle<br>
of our gigantic<br>
flying machine.<br>
<br>
I am new here, I don't understand!<br>
Wasabi sets their goggles,<br>
I can still see the grin, though I hear not the giggle:<br>
they scream a vowel<br>
kicking the rod,<br>
off the gigantic<br>
flying machine.<br>
<br>
Experience does not require my understanding,<br>
I know how Wasabi's joy feels like. I know<br>
its smell, its touch and its taste.<br>
I have no explanations yet I discern.<br>
<br>
The mechanical flying squirrel<br>
swift as an hawk,<br>
wise as the oak.<br>
Wasabi spreads copper wings and glides:<br>
holds on a new handle<br>
up another gigantic<br>
flying machine.<br>
<br>
My stomach entangles, bounces and strangles.<br>
Breathing brings order.<br>
That's when I notice, packed on my back:<br>
wings extra light, goggles on head.<br>
I feel hands and feet,<br>
burning with air.<br>
I look at Wasabi, hundred meters away.<br>
<br></p>
<div>
<br>
        <div>
        <p>Blue Night<br>
        pretty tight<br>
        Let my Sun arise<br>
        I have dreamt<br>
        a million times<br>
        of Love so bright<br>
        to hurt my sight<br>
        But You won't see Me<br>
        once I choose<br>
        to give it up<br>
        and let You loose<br>
        Or perhaps I can't decide<br>
        who is yours nor<br>
        whose is mine<br>
        For You saw always<br>
        and I see clearly<br>
        deep into the game of Mind.</p>
    <div>
<br>
<br>
    <div>
      <p>When you learned to speak you didn't know<br>
          but one day those words would have tricked you<br>
          caged you<br>

          angered you<br>


          Many people say there's no such thing as magic these days...<br>

          many still don't think it ever existed.<br>

          Debilitating myopia<br>

          Sinking<br>


          Let's gaze into the light<br>

          suffused<br>


          Speak<br>

          in sounds of pearls you lose the sense of rhythm<br>

          feel the rhythm of sense<br>

          deep<br>

          fruitful<br>


          Instants pass in words produced<br>

          and magically the vibrant thought is born<br>

          ancestral<br>

          narrated by Us, by You, by All<br>

          <br>

          Translated with www.DeepL.com/Translator<br></p>



 </h2>

<a href="index.html"> Back </a>

</body>

</html>
